{% extends "master.html" %}


{% load static %}
{% block title %}
   Leave Application
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/attendance_request.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
    <div class="main">
        <div class="wrapper">
            <div class="form-wrapper">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Leave Applicaton</h2>

                    <div class="input-group">
                        <label for="start_date">From Date </label>
                        <input type="date" name="start_date" id="start_date"  required>
                    </div> 

                    <div class="input-group">
                        <label for="end_date">To Date </label>
                        <input type="date" name="end_date" id="end_date"  required>
                    </div> 

                    <div class="input-group">
                        <label for="leave_type">Leave Type</label>
                        <select name="leave_type" id="leave_type" >
                            <option value=""> --- Select Leavetype --- </option>
                            {% for x in leavetype %}
                            <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    

                    <div class="input-group">
                        <label for="description">Appropriate Reason With Refrence</label>
                        <textarea class="form-control" id="description" name="description"  rows="3" ></textarea>
                    </div>
          
                    <button type="submit">Apply</button>
        
                    {% if messages %}
                    <div class="message-container">
                        {% for message in messages %}
                            <div class="message-box {% if message.tags == 'success' %}success-message{% else %}warning-message{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


